.button {
  font-weight: 500;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 200px;
  height: 56px;
  cursor: pointer;
}

.buttonPrimary {
  border: none;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  transition: background-color var(--transition);
}

.buttonSecondary {
  border: 1px solid var(--button-border-color);
  transition: border-color var(--transition);
  background-color: transparent;

  &:hover,
  &:focus {
    border-color: var(--hover-color);
  }
}

.disabled {
  background-color: var(--input-placeholder-text-color);
  cursor: not-allowed;

  .buttonPrimary:hover &,
  .buttonPrimary:focus & {
    background-color: var(--input-placeholder-text-color);
  }
}