.campersListContainer {
  margin-left: 420px;
}

.campersList {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.camperItem {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.campersLoadMoreButton {
  display: block;
  margin: 0 auto;
  max-width: 146px;
}