.emptyBlock {
  border: 1px solid var(--button-border-color);
  border-radius: 8px;
  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 300px;

  color: var(--additional-text-color);
  font-size: 20px;
  text-align: center;
}