.camperTitlePriceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.camperTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  white-space: wrap;
}

.camperPriceLikeContainer {
  display: flex;
  align-items: start;
  gap: 6px;
}

.camperPrice {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
}

.camperLikeButton {
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.favourite {
  fill: var(--hover-color);
}