.filterBar {
  position: fixed;
  top: 100px;
  left: 142px;
  background-color: #fff;
}

.filtersButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width:1439px) {
  .filterBar {
    display: none;
  }
}