.header {
  border-bottom: 1px solid var(--header-border-color);
  background-color: var(--header-bg-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.logoNavContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoLink {
  padding: 24px 0;
}