.camperPage {
  padding-top: 100px;
  padding-bottom: 50px;
}

.camperNav {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
  margin-bottom: 44px;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    border: 1px solid #dadde1;
    bottom: 0;
    z-index: -1;
  }
}

.camperLink {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 24px;
  transition: border-color var(--transition);
  border-bottom: 5px solid transparent;
}

.active {
  border-color: var(--hover-color);
}

.featFormContainer {
  display: flex;
  align-items: center;
  gap: 40px;
}