.checkboxContainer {
  display: block;
  border: 1px solid var(--button-border-color);
  border-radius: 12px;
  width: 112px;
  transition: border-color var(--transition);
  cursor: pointer;
  max-height: 96px;
  padding: 16px;
  transition: background-color var(--transition);

  &:hover {
    background-color: var(--input-bg-hover-color);
  }

  &:has(input:checked) {
    border-color: var(--hover-color);
  }
}

.checkboxContainer .checkboxIcon {
  fill: var(--icon-main-color);
  margin: auto;
  margin-bottom: 8px;
}

.checkboxText {
  font-weight: 500;
  letter-spacing: -0.01em;
  text-align: center;
}